@mixin btn-base($border){
	padding: 10px 25px;
	border: 1px solid $border;
	background-color: transparent;
	font-family: $didot;
	-webkit-transition: all 300ms ease;
	&:hover,
	&:focus {
		border-color: $border;
		background-color: $border;
	}
}

@mixin btn-style($font-size, $color,  $alt-color){
	font-size: $font-size;
	text-transform: uppercase;
	color: $color;
	&:hover,
	&:focus {
		color: $alt-color;
	}
}

