.wpcf7-form {
  text-transform: uppercase;

  input,
  .wpcf7-not-valid-tip {text-transform: initial;}
  
  input[type="text"], 
  input[type="password"], 
  input[type="date"], 
  input[type="datetime"], 
  input[type="datetime-local"], 
  input[type="month"], 
  input[type="week"], 
  input[type="email"], 
  input[type="number"], 
  input[type="search"], 
  input[type="tel"], 
  input[type="time"], 
  input[type="url"], 
  input[type="color"], 
  textarea {
    padding: 25px 15px;
    font-size: em(18px);
    background: map-get($colors, 'gray');
    border: 0;
    // border: 1px solid map-get($colors, 'black');
    margin-top: 5px;
    margin-bottom: 30px;
  }

  textarea {
    padding: 10px 15px;
  }

  input[type="text"]:focus, 
  input[type="password"]:focus, 
  input[type="date"]:focus, 
  input[type="datetime"]:focus, 
  input[type="datetime-local"]:focus, 
  input[type="month"]:focus, 
  input[type="week"]:focus, 
  input[type="email"]:focus, 
  input[type="number"]:focus, 
  input[type="search"]:focus, 
  input[type="tel"]:focus, 
  input[type="time"]:focus, 
  input[type="url"]:focus, 
  input[type="color"]:focus, 
  textarea:focus {
    background: lighten(map-get($colors, 'gray'), 2%);
    border: 0;
    // border: 1px solid map-get($colors, 'black'); 
    box-shadow: none;
  }

  // error states
  input.wpcf7-not-valid.error,
  input[type="text"]:focus.wpcf7-not-valid.error, 
  input[type="email"]:focus.wpcf7-not-valid.error,
  input[type="text"]:focus.wpcf7-not-valid.error, 
  input[type="password"]:focus.wpcf7-not-valid.error, 
  input[type="date"]:focus.wpcf7-not-valid.error, 
  input[type="datetime"]:focus.wpcf7-not-valid.error, 
  input[type="datetime-local"].wpcf7-not-valid.error:focus, 
  input[type="month"]:focus.wpcf7-not-valid.error, 
  input[type="week"]:focus.wpcf7-not-valid.error, 
  input[type="email"]:focus.wpcf7-not-valid.error, 
  input[type="number"]:focus.wpcf7-not-valid.error, 
  input[type="search"]:focus.wpcf7-not-valid.error, 
  input[type="tel"]:focus.wpcf7-not-valid.error, 
  input[type="time"]:focus.wpcf7-not-valid.error, 
  input[type="url"]:focus.wpcf7-not-valid.error, 
  input[type="color"]:focus.wpcf7-not-valid.error  {border: 1px solid map-get($colors, 'alert');}

  input.error::-webkit-input-placeholder {color: map-get($colors, 'alert');} 
  input.error:-moz-placeholder {color: map-get($colors, 'alert');}        // Firefox < 19
  input.error::-moz-placeholder {color: map-get($colors, 'alert');}       // Firefox > 19
  input.error:-ms-input-placeholder {color: map-get($colors, 'alert');}   // Internet Explorer 10

}

.wpcf7-response-output {
  text-align: center;
}