.page-divide {
  padding: 0;
  border: none;
  text-align: center;
  display: block;
  margin: auto;
  margin: 15px auto 45px;
  border-top: 1px solid;
  &:after {
    content: "\e604";
    font-family: 'icomoon';
    display: inline-block;
    position: relative; 
    top: -14px;  
    font-size: em(12px);
    padding: 0 .750em;
  }
}

.hr-large {width: 90%;}
.hr-small {width: 100px;}

.hr-light {
  border-color:map-get($colors, 'white');
  &:after {
    background: map-get($colors, 'red');
  }
}

.hr-dark {
  border-color: map-get($colors, 'black');
  color: map-get($colors, 'red');
  &:after {
    background: map-get($colors, 'white');
  }
}




header.section-header {
  display: block;
  text-align: center;
}


hr.section-divide {
  display: block;
  width: 400px;
  margin: auto;
  border: 0;
  
}
hr.section-divide::after { 
  display: block; 
  content:'';
  height: 20px;
  background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 116, color-stop(0%, #cccccc), color-stop(90%, rgba(255, 255, 255, 0)));
  background-image: -webkit-radial-gradient(center top, farthest-side, #cccccc 0%, rgba(255, 255, 255, 0) 90%);
  background-image: -moz-radial-gradient(center top, farthest-side, #cccccc 0%, rgba(255, 255, 255, 0) 90%);
  background-image: -o-radial-gradient(center top, farthest-side, #cccccc 0%, rgba(255, 255, 255, 0) 90%);
  background-image: radial-gradient(farthest-side at center top, #cccccc 0%, rgba(255, 255, 255, 0) 90%);
}






hr.divide {
  height: 1px;
  margin: 50px 0;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0,0,0,0)), color-stop(0.5, #333333), to(rgba(0,0,0,0)));
  background: -webkit-linear-gradient(left, rgba(0,0,0,0), #333333, rgba(0,0,0,0));
  background: -moz-linear-gradient(left, rgba(0,0,0,0), #333333, rgba(0,0,0,0));
  background: -o-linear-gradient(left, rgba(0,0,0,0), #333333, rgba(0,0,0,0));
  background: linear-gradient(left, rgba(0,0,0,0), #333333, rgba(0,0,0,0));
  border: 0;
}
hr.divide:after { 
  display: block; 
  content:'';
  height: 30px;

  background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 116, color-stop(0%, #cccccc), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-radial-gradient(center top, farthest-side, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -moz-radial-gradient(center top, farthest-side, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-radial-gradient(center top, farthest-side, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
  background-image: radial-gradient(farthest-side at center top, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
}

// .main-nav:after { 
//   display: block; 
//   content:'';
//   height: 30px;

//   background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 116, color-stop(0%, #cccccc), color-stop(100%, rgba(255, 255, 255, 0)));
//   background-image: -webkit-radial-gradient(center top, farthest-side, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
//   background-image: -moz-radial-gradient(center top, farthest-side, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
//   background-image: -o-radial-gradient(center top, farthest-side, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
//   background-image: radial-gradient(farthest-side at center top, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
// }