// .menu-header {margin-bottom: 15px;}
// .menu-header > h1 {margin-bottom: 5px; text-transform: uppercase;}
// .menu-header > span {color: blue;}
.menu-header {
  h1 {margin-bottom: 15px;}
  span {color: map-get($colors, 'red');}
}