.main-nav {
  width: 100%;
  position: fixed;
  z-index: 100;
  background: map-get($colors, 'white');
  text-align: center;
  @media (min-width: 800px){overflow: hidden;}
  // styles for mobile nav anchor
  .small-link {
    display: block;
    @media(min-width: 800px){
      display: none;
    }
  }
  .small {
    position: relative;
    font-size: em(24px);
    border-top: 1px solid map-get($colors, 'black');
    border-bottom: 1px solid map-get($colors, 'black');
    display: block;
    @media(min-width: 800px){
      display: none;
    }
    &:before, 
    &:after {
      content: "";
      position: absolute;
      box-shadow: 0 0 0 1px map-get($colors, 'red'), 0 7px 0 1px map-get($colors, 'red'), 0 14px 0 1px map-get($colors, 'red');
      width: 20px;
      margin-top: 15px;
    }
    &:before {left: 20%;}
    &:after {right: 20%;}
  }

  // styles for large nav / logo
  .large {
    display: none;
    @media (min-width: 800px){
      display: block;  
    }
  }
  // large nav logo 
  .large.logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: 1% auto;
    width: 200px;
    text-align: center;
  }
  .site-nav {
    display: none;
    @media (min-width: 800px){
      display: block;
    }
  }
  // unordered list of nav elements
  ul {
    margin: 0;
    list-style: none;
    text-align: center;
  }
  // nav links
  a {
    display: block;
    font-size: em(20px);
    text-transform: uppercase;
    text-align: center;
    padding: 5px 0;
    color: map-get($colors, 'black');
  }
}

.site-nav {
  display: block;
  position: relative;
  // overflow: hidden;
  // &:after {
  //   content: "";
  //   display: block;
  //   margin: auto;
  //   width: 300px;
    // -webkit-box-shadow: 0 8px 6px -6px black;
    //    -moz-box-shadow: 0 8px 6px -6px black;
    //           box-shadow: 0 8px 6px -6px black;
              background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 75%);
              background: -webkit-gradient(radial, center center, 0px, center center, 75%, color-stop(0%,rgba(0,0,0,0.1)), color-stop(75%,rgba(0,0,0,0)));
              background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
              background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
              background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
              background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
     // background-image: radial-gradient(center 0, circle farthest-corner, rgba(255,255,255,0.4), rgba(255,255,255,0));
  }
  

@media (min-width: 800px){
   .nav-list {
    width: 40%;
      a {
      display: block;
      font-size: em(14px);
      color: map-get($colors, 'black');
      text-transform: uppercase; 
      &:hover {
        color: map-get($colors, 'red');
       }
     }
     .current-menu-item a {color: map-get($colors, 'red');}
   }
   // left nav
   .nav-left {
    float: left; margin-right: 10px;
    ul {float: right; margin-right: 35px;}
    li {float: left;}
    a {padding: 25px 15px 25px 0;}
   }
   // nav right
   .nav-right {
    float: right; 
    ul {float: left; margin-left: 35px;}
    li {float: left;}
    a {padding: 25px 0 25px 15px;}
   }
}

@media (min-width: 960px){.nav-list li a {font-size: em(18px)}}
@media (min-width: 1000px){.nav-list li a {font-size: em(20px)}}