html {margin: 0 !important;}
html, body {-webkit-backface-visibility: hidden;}

.container {
	margin-top: 9px;
	@media (min-width: 800px){margin-top: 41px;}
	@media (min-width: 960px){margin-top: 47px;}
	@media (min-width: 1000px){margin-top: 51px;}
}

section {
	position: relative;
	padding: 15px;
	@media #{$medium-up} {
		padding: 25px;
	}
}

section.slider {
	padding: 0;
}

.vcard {border: 0;}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}


.full.color {
	background: map-get($colors, 'red');
	color: map-get($colors, 'white');
	.row h1 {color: map-get($colors, 'white');}
}


@media(min-width: 400px){
	
	.home .master-slider-parent:before {
		content: "";
		position: absolute;
	    width: 50%;
	    left: 0;
	    bottom: 0;
	    border-bottom: 50px solid map-get($colors, 'red');
	    border-right: 50px solid transparent;
	    z-index: 10;
	}

	.home .master-slider-parent:after {
		content: "";
		position: absolute;
	    left: 50%;
	    bottom: 0;
	    right: 0;
	    border-bottom: 50px solid map-get($colors, 'red');
	    border-left: 50px solid transparent;
	    z-index: 10;
	}
}




.page-intro {
	margin-bottom: 50px;

	p:last-child {margin-bottom: 0;}
  a {color: map-get($colors, 'white'); &:hover {color: map-get($colors, 'white');}}
	.page-divide {margin-bottom: 20px;}
	@media (min-width: 800px){
		&:after {
			content: "";
			width: 0;
			height: 40px;
			border-left: 40px solid transparent;
			border-right: 40px solid transparent;
			border-top: 40px solid map-get($colors, 'red');
			position: absolute;
			bottom: -40px;
			margin: auto;
			display: block;
			left: 0;
			right: 0;
		}
	}
}