html, body {
    -webkit-backface-visibility: hidden;
}
section {
	position: relative;
	padding: 15px;
	@media #{$medium-up} {
		padding: 25px;
	}
}

.vcard {border: 0;}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}


.full.color {
	background: map-get($colors, 'red');
	color: map-get($colors, 'white');
}
