html, body {
    -webkit-backface-visibility: hidden;
}

body {
  color: #333;
}

section {position: relative;}


// .container {
// 	position: relative;
// 	width: 1024px;
// 	margin: auto;
// }


section {
	padding: 15px;
	@media #{$medium-up} {
		padding: 25px;
	}
}

.vcard {
	border: 0;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}


.full.color {
	background: map-get($colors, 'red');
	color: map-get($colors, 'white');
}
