.footer {
	margin-top: 25px;
  	padding-bottom: 25px; 
  	.logo  {
		display: block;
		margin: 0 auto 10px;
		width: 250px;
		img {width: 100%;}
		@media #{$large-up}{width: 300px;}
	}
}

.footer-divide {
  position: relative;
  width: 98%;
  height: 20px;
  margin: 25px auto 0;
  border-top: 1px solid map-get($colors, 'black');
  &:after {
      content: "\e605";
      position: relative;
      display: inline-block;
      top: -15px;
      padding: 0 10px;
      font-family: 'icomoon';
      font-size: em(12px);
      background: map-get($colors, 'white');
      color: map-get($colors, 'red');
    }
}

.social-links {
  li {display: inline-block;}
  a {
    display: block;
    font-size: 1.250em;
    margin: 0 .500em;
  }
}

.slider .small-link {
	display: none;
	position: absolute;
	bottom: 30px;
	left: 0;
	right: 0;
	display: block;
	width: 170px;
	margin: auto;
	z-index: 10;
	text-transform: uppercase;
	font-size: em(20px);
	color: map-get($colors, 'white');
	@media(min-width: 800px){
		display: block;
	}
	
	&:after {
		content: "";
		display: block;
		width: 41px;
		height: 21px;
		margin: 10px auto 0;
		background: url('../img/down-arrow.svg') no-repeat;
	}

}