body, .copy, %copy  {
  font-family: sans-serif;
  line-height: 1.5;
  font-size: 1em;
}

h1,h2,h3,h4,h5,h6, %header {
  margin: 0;
  font-weight: bold;
  line-height: 1;
  text-shadow: none;
}

h1 {
  font-size: 1.625em;
  @media #{$medium-up} {
    font-size: 1.875em;
  }
}

h2 {
  font-size: 1.250em;
  @media #{medium-up}{
    font-size: 1.625em;
  }
}

p {-webkit-backface-visibility: hidden;}
a {cursor: pointer;}
a:hover {text-decoration: none;}
q {display: block;}
cite {display: block;}