
body, .copy, %copy  {
  font-family: $didot;
  line-height: 1.8;
  font-size: 1em;
}

h1,h2,h3,h4,h5,h6, %header {
  margin: 0;
  line-height: 1;
  text-shadow: none;
  font-family: $headline;
}

h1 {
  font-size: em(26px);
  @media #{$medium-up} {
    font-size: em(30px);
  }
}

h2 {
  font-size: 1.250em;
  @media #{medium-up}{
    font-size: 1.625em;
  }
}

p {
  line-height: 1.8;
  -webkit-backface-visibility: hidden;}
a {
  @include vendor-prefix(transition, all 300ms ease);
  font-family: $didot;
  color: map-get($colors, 'red');
  cursor: pointer;
  &:hover,
  &:focus {
    color: map-get($colors, 'black');
    text-decoration: none;
  }

}

.almanac-overlay {
  text-align: left;
  a {color: map-get($colors, 'white');}
}

q {display: block;}
cite {display: block;}

.center,
%center {
  text-align: center;
}

.ss-social a {
  width: 15px;
}

header.section-header {text-transform: uppercase;}
.page-error {margin-bottom: 50px;}
.alert {
  color: map-get($colors, 'red');
}