body, .copy, %copy  {
	font-family: sans-serif;
	line-height: 1.5;
  font-size: 1em;
}

h1,h2,h3,h4,h5,h6, %header {
  margin: 0;
  font-weight: bold;
  line-height: 1;
  text-shadow: none;
}

p {
  font-size: 13px;
  line-height: 1.4;
  -webkit-backface-visibility: hidden;
}
a {cursor: pointer;}
a:hover {text-decoration: none;}

 %huge {
	font-size: 30px;
    line-height: 1.1;
}

%big {font-size: em(26px);}

h1 { @extend %huge;}
h2 { @extend %big; }

strong, .bold, %bold {
  @extend %lubalin;
  font-size: 1.2em;
  display: block;
}




small, .small { font-size: em(12px); }