// primary colors

$colors: (
	red: #630000,
	white: #fff,
	black: #000
);

$white: #fff;
$gray: #E6E6E6;
$light-blue: #83CFF4;
$c-primary: #83CFF4;      //blue
$c-secondary: #DE7226;    //orange 
$t-primary: #00619E;

$d-blue: #00619E;
$d-blue2: #114069; // used in one place I think. 
$l-blue1: #028ABF;

.intro-copy h1,
.finale h1 {
  color: $white;
}

// z-index stuffs
$z-layers: (
	'base': 1,
	'base-5': 5,
	'base-10': 10
);


// font sizes 
$font-size-base: 16px;