// primary colors
$colors: (
	red: #630000,
	white: #fff,
	black: #000,
	offWhite: #f4f4f4,
	alert: #f04124,
	gray: #E5E5E5
);

// fonts
$didot: 'Didot W01 Roman', serif;
$italic : 'Didot W01 Italic', serif;
$headline: 'Didot W01 Headline', serif;

// font sizes 
$font-size-base: 16px;

// z-index stuffs
$z-layers: (
	'base': 1,
	'base-5': 5,
	'base-10': 10
);