.wordmark {
  // max-width: 200px;
}
.footer {
  margin-top: 25px;
  padding-bottom: 25px;

  .logo  {
    display: block;
    margin: 0 auto 20px;
    width: 200px;
    img {width: 100%;}
    @media #{$large-up}{
      width: 300px;
    }
  }
  hr.hr-large {
    width: 98%;
    margin-bottom: 25px;
    &:after {
      content: "\e605";
      top: -15px;
    }
  }
}
.footer .ss-social li {
  display: inline-block;
  a {
    display: block;
    font-size: 1.250em;
    margin: 0 .500em;
  }
}
.logo-footer {
  position: relative;
  display: block;
  margin: 0 auto 25px;
  img {
    display: block;
    width: 100%;
    margin: auto;
  }
}