.footer {
  margin-top: 25px;
  padding-bottom: 25px; 
  .logo  {
    display: block;
    margin: 0 auto 20px;
    width: 250px;
    img {width: 100%;}
    @media #{$large-up}{width: 300px;}
  }

}

.social-links {
  li {display: inline-block;}
  a {
    display: block;
    font-size: 1.250em;
    margin: 0 .500em;
  }
}


.footer .page-divide.hr-large.hr-dark {
    position: relative;
    width: 98%;
    margin: 25px auto 10px;

    border-top: 1px solid map-get($colors,'black');
    &:after {
      content: "\e605";
      position: relative;
      display: inline-block;
      top: -15px;
      padding: 0 10px;
      font-family: 'icomoon';
      font-size: em(12px);
      background: map-get($colors, 'white');
      color: map-get($colors, 'red');
    }
  }