.press-item {
	margin-bottom: 15px;
		@media #{$medium-up} {
			margin-bottom: 35px;
	  }
	a {
		display: block;
		margin-bottom: 10px;
	}

	
	q {
		font-size: em(16px);
		margin-bottom: 5px;
		@extend %center;
		@media #{$medium-up} {
			font-size: em(18px);
			margin-bottom: 10px;
	  }
	}
	
	cite {
		font-size: em(14px);
		@extend %center;
		@media #{$medium-up} {
			font-size: em(16px);
	  }
	}
	
}

.press-item:nth-child(3n+1) {
	clear:left;
}
.press-item:last-child {
	float: left;
}

.press [class*="column"]+[class*="column"]:last-child {float: left;}