.main-nav ul {
  margin: 0;
  list-style: none;
}
.main-nav {
  width: 100%;
  background: black;
}

.mobile-only {
  display: block;
  @media(min-width:600px){
    display: none;
  }
}

.desktop-only {
  display: none;
  @media(min-width:600px){
    display: block;
  }
}